<html>
<title>Tran's Book</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Đăng ký tài khoản</h3>
    <p> Hãy điền đầy đủ thông tin nhé!</p>
     {% if message %} {{message}} {% endif %}
                        <form class="form-horizontal" method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <form action="/action_page.php" target="_blank">
      
      <input class="w3-input w3-section w3-border" type="text" placeholder="Họ và tên" name="fullname">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email"  name="Email">
      <input class="w3-input w3-border" type="text" id="id_username"  placeholder="Tên tài khoản"  name="username">
      <input class="w3-input w3-section w3-border" id="id_password" type="password" placeholder="Mật khẩu" required name="password">
      <input class="w3-input w3-section w3-border" id="id_password" type="password" placeholder="Nhập lại mật khẩu" required name="password2">
      <button class="w3-button w3-black w3-section" type="submit"> 
        <i class="fa fa-paper-plane" ></i> ĐĂNG KÝ 
      </button>
       <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i>  QUAY VỀ
      </button>
    </form>
  </div>
</html>  